@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

body, .container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  background: #a6b2b7;
  font-family: 'Oxanium', sans-serif;
  width: 100vw;
  height: 100vh;
}

.namePopup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  border-radius: 10px;
  width: 280px;
  height: 120px;
  margin-top: -70px;
  margin-left: -150px;
  background: white;
  padding: 10px;
  font-size: 1.4em;

  label {
    span {
      font-weight: 600;
    }
    input {
      font-family: 'Oxanium', sand-serif;
      font-weight: 500;
      font-size: 1em;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      border: 2px solid black;
      border-radius: 4px;
    }
  }
  input[type='submit'] {
    font-family: 'Oxanium', sand-serif;
    font-weight: 500;
    font-size: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
  }
}

.gameContainer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.gameControl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0px -4px 4px 4px rgba(0,0,0,0.4);
  background: white;
  padding: 12px;

  h2 {
    display: inline-block;
    width: auto;
    margin-top: 4px;
    margin-bottom: 16px;
    margin-right: 8px;
  }

  button {
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px;
    font-family: 'Oxanium', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  .gameControlPlayer {
    display: inline-block;
    width: auto;
    border: 2px solid black;
    border-radius: 2px;
    padding: 8px;
    font-family: 'Oxanium', sans-serif;
    margin-right: 16px;
    font-size: 20px;
    height: 24px;

    .gameControlPlayerTime {
      display: block;
      position: relative;
      margin-right: -25px;
      float: right;
      margin-top: -20px;
      border: 4px solid black;
      border-radius: 20px;
      background: white;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      font-weight: 600;
    }
  }
}


.Board {
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 600px;
  border: 4px solid black;
  border-radius: 6px;
  background: white;

  .BoardMain {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    background-size: cover;
  }

  .BoardDebug {
    position: absolute;
    outline: 2px solid cyan;
    width: 36px;
    height: 36px;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
  }
}


.Dice {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 130px;
  height: 130px;
  border: 4px solid black;
  border-radius: 10px;


  button {
    display: block;
    position: absolute;
    border: 4px solid black;
    border-radius: 10px;
    top: -60px;
    height: 40px;
    left: -4px;
    width: 138px;
    background: white;
    font-family: 'Oxanium', sans-serif;
    font-size: 16px;
  }
}



.Piece {
  position: absolute;
  border: 2px solid black;
  width: 28px;
  height: 28px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);


  &.PieceEnabled {
    //border: 2px solid red;
    animation: blink 0.3s linear;
    cursor: pointer;

    &:hover{
      animation: none;
      //border: 2px solid green;
    }
  }


  .PiecePlaceholder {
    display: none;
  }

  &:hover{
    .PiecePlaceholder{
      display: block;
    }
  }

  @keyframes blink {
    0% { background: none !important; }
    29.9% { background: none !important; }
    30% { background: initial }
    100% { background: initial }
  }

}


.PiecePlaceholder {
  position: absolute;
  border: 3px solid black;
  width: 28px;
  height: 28px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  opacity: 0.8;
}
